---
import { type CollectionEntry } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import {
  createGetStaticPath,
  fetchSlug,
  policyMapper,
} from "@/utilities/fetch";
import RichText from "@/components/RichText.astro";
import PagesSection from "@/components/PagesSection.astro";
import type { FiltersSlugMetaDataModel } from "@/env";
import { getFiltersSlugMetaData } from "@/utilities/filter";
import FiltersCollectionItemTemplate from "@/components/FiltersCollectionItemTemplate.astro";

const { slug } = Astro.params;
const collectionName = "policies";
let data: CollectionEntry<typeof collectionName>["data"];

if (!Astro.isPrerendered) {
  data = await fetchSlug(collectionName, slug);
  if (!data) return Astro.redirect("/404");
} else {
  ({ data } = Astro.props);
}

export const getStaticPaths = createGetStaticPath("policies");

const policy = policyMapper(data);

export const prerender = import.meta.env.PREVIEW_MODE || false;

const filtersSlugMetaData: FiltersSlugMetaDataModel = getFiltersSlugMetaData(
  collectionName,
  policy,
  slug,
);
---

<Layout
  title={policy.title}
  useInPageNav={policy.showInPageNav}
  filtersSlugMetaData={filtersSlugMetaData}
  useBreadcrumbTitle={true}
  ><PagesSection>
    <div class="flex-column margin-bottom-5">
      <h1 set:text={policy.title} />
    </div>
    <RichText content={data.content} />
  </PagesSection>
</Layout>

<FiltersCollectionItemTemplate
  item={policy}
  showEvent={false}
  filtersSlugMetaData={filtersSlugMetaData}
/>
