---
import { type CollectionEntry } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import { createGetStaticPath, fetchSlug, postsMapper } from "@/utilities/fetch";
import RichText from "@/components/RichText.astro";
import PagesSection from "@/components/PagesSection.astro";
import InPageNavigation from "@/components/InPageNavigation.astro";
import Media from "@/components/Media.astro";
import PreviewReload from "@/components/PreviewReload.astro";

const { slug } = Astro.params;
const collectionName = "posts";
let data: CollectionEntry<typeof collectionName>["data"];

if (!Astro.isPrerendered) {
  data = await fetchSlug(collectionName, slug);
  if (!data) return Astro.redirect("/404");
} else {
  // @ts-expect-error
  ({ data } = Astro.props);
}

export const getStaticPaths = createGetStaticPath("posts");

const post = postsMapper(data);

export const prerender = import.meta.env.PREVIEW_MODE || false;
---

<Layout title={post.title} useInPageNav={post.showInPageNav}>
  {
    post.showInPageNav && (
      <Fragment slot="in-page-nav">
        <InPageNavigation />
      </Fragment>
    )
  }
  <PagesSection>
    <div class="flex-column margin-bottom-5">
      <h1 set:text={post.title} />
    </div>
    {data.image && <Media media={data.image} />}
    <RichText content={post.content} />
  </PagesSection>
</Layout>

<PreviewReload />
