---
import { type CollectionEntry } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import {
  createGetStaticPath,
  fetchSlug,
  postsMapper,
  relatedItemsMapper,
} from "@/utilities/fetch";
import RichText from "@/components/RichText.astro";
import PagesSection from "@/components/PagesSection.astro";
import InPageNavigation from "@/components/InPageNavigation.astro";
import Media from "@/components/Media.astro";
import RelatedItems from "@/components/RelatedItems.astro";
import type { FiltersSlugMetaData } from "@/env";
import { getFiltersSlugMetaData } from "@/utilities/filter";
import FiltersCollectionItemTemplate from "@/components/FiltersCollectionItemTemplate.astro";

const { slug } = Astro.params;
const collectionName = "posts";
let data: CollectionEntry<typeof collectionName>["data"];

if (!Astro.isPrerendered) {
  data = await fetchSlug(collectionName, slug);
  if (!data) return Astro.redirect("/404");
} else {
  // @ts-expect-error
  ({ data } = Astro.props);
}

export const getStaticPaths = createGetStaticPath("posts");

const post = postsMapper(data);

// Map related items if they exist
const relatedItems = data.relatedItems
  ? relatedItemsMapper(data.relatedItems, postsMapper)
  : [];

export const prerender = import.meta.env.PREVIEW_MODE || false;

const filtersSlugMetaData: FiltersSlugMetaData = getFiltersSlugMetaData(
  collectionName,
  post,
  slug,
);
---

<Layout
  title={post.title}
  useInPageNav={post.showInPageNav}
  filtersSlugMetaData={filtersSlugMetaData}
  useBreadcrumbTitle={true}
>
  {
    post.showInPageNav && (
      <Fragment slot="in-page-nav">
        <InPageNavigation />
      </Fragment>
    )
  }
  <PagesSection>
    <div class="flex-column margin-bottom-5">
      <h1 set:text={post.title} />
    </div>
    {data.image && <Media media={data.image} />}
    <RichText content={post.content} />
    <RelatedItems items={relatedItems} />
  </PagesSection>
</Layout>

<FiltersCollectionItemTemplate
  item={post}
  showEvent={false}
  filtersSlugMetaData={filtersSlugMetaData}
/>
