---
import { type CollectionEntry } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import { createGetStaticPath, fetchSlug } from "@/utilities/fetch";
import RichText from "@/components/RichText.astro";
import PagesSection from "@/components/PagesSection.astro";
import Media from "@/components/Media.astro";
import type { FiltersSlugMetaDataModel } from "@/env";
import { getFiltersSlugMetaData } from "@/utilities/filter";
import FiltersCollectionItemTemplate from "@/components/FiltersCollectionItemTemplate.astro";

const { slug } = Astro.params;
const collectionName = "leadership";
let data: CollectionEntry<typeof collectionName>["data"];

if (!Astro.isPrerendered) {
  data = await fetchSlug(collectionName, slug);
  if (!data) return Astro.redirect("/404");
} else {
  // @ts-expect-error
  ({ data } = Astro.props);
}

export const getStaticPaths = createGetStaticPath("leadership");

export const prerender = import.meta.env.PREVIEW_MODE || false;

const filtersSlugMetaData: FiltersSlugMetaDataModel = getFiltersSlugMetaData(
  collectionName,
  data,
  slug,
);
---

<Layout
  title={data.title}
  filtersSlugMetaData={filtersSlugMetaData}
  useBreadcrumbTitle={true}
>
  <PagesSection>
    <div class="flex-column margin-bottom-2">
      <h1 set:text={data.title} />
      {
        data.jobTitle && (
          <p class="usa-intro margin-top-0" set:text={data.jobTitle} />
        )
      }
    </div>
    {data.image && <Media media={data.image} />}
    {data.content && <RichText content={data.content} />}
  </PagesSection>
</Layout>

<FiltersCollectionItemTemplate
  item={data}
  showEvent={false}
  filtersSlugMetaData={filtersSlugMetaData}
/>
