---
import { type CollectionEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { createGetStaticPath } from "@/utilities/staticPath";
import RichText from "@/components/RichText.astro";
import payloadFetch from "@/utilities/payload-fetch";
import PagesSection from "@/components/PagesSection.astro";
import Media from "@/components/Media.astro";

const { slug } = Astro.params;
const collectionName = "leadership";
let data: CollectionEntry<typeof collectionName>["data"];

if (!Astro.isPrerendered) {
  const preview = import.meta.env.PREVIEW_MODE;
  const response = await payloadFetch(
    `${collectionName}?where[slug][equals]=${slug}&draft=${preview}`
  );
  const n = await response.json();
  if (n.docs.length === 0) return Astro.redirect("/404");
  data = n.docs[0];
} else {
  // @ts-expect-error
  ({ data } = Astro.props);
}

export const getStaticPaths = createGetStaticPath("leadership");

export const prerender = true;
---

<Layout title={data.title}>
  <PagesSection>
    <div class="flex-column margin-bottom-2">
      <h1 set:text={data.title} />
      {data.jobTitle && (
        <p class="usa-intro margin-top-0" set:text={data.jobTitle} />
      )}
    </div>
    {data.image && (<Media media={data.image} />)}
    {data.content && <RichText content={data.content} />}
  </PagesSection>
</Layout>
