---
import { type CollectionEntry } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import {
  createGetStaticPath,
  fetchSlug,
  reportMapper,
  relatedItemsMapper,
} from "@/utilities/fetch";
import RichText from "@/components/RichText.astro";
import PagesSection from "@/components/PagesSection.astro";
import Tags from "@/components/Tags.astro";
import Media from "@/components/Media.astro";
import InPageNavigation from "@/components/InPageNavigation.astro";
import ResourceFile from "@/components/ResourceFile.astro";
import RelatedItems from "@/components/RelatedItems.astro";

const { slug } = Astro.params;
const collectionName = "reports";
let data: CollectionEntry<typeof collectionName>["data"];

if (!Astro.isPrerendered) {
  data = await fetchSlug(collectionName, slug);
  if (!data) return Astro.redirect("/404");
} else {
  // @ts-expect-error
  ({ data } = Astro.props);
}

export const getStaticPaths = createGetStaticPath("reports");

const report = reportMapper(data);

// Map related items if they exist
const relatedItems = data.relatedItems
  ? relatedItemsMapper(data.relatedItems, reportMapper)
  : [];

export const prerender = import.meta.env.PREVIEW_MODE || false;
---

<Layout title={report.title} useInPageNav={report.showInPageNav}>
  {
    report.showInPageNav && (
      <Fragment slot="in-page-nav">
        <InPageNavigation />
      </Fragment>
    )
  }
  <PagesSection>
    <div class="flex-column margin-bottom-5">
      <h1 set:text={report.title} />
      {data.image && <Media media={data.image} />}
      <p class="font-sans-sm text-italic" set:text={report.date} />
      {
        data.reportFiles.length > 0 && (
          <ResourceFile resourceFiles={data.reportFiles} />
        )
      }
      {
        report.tags && (
          <>
            <h4 class="margin-bottom-2">Tags</h4>
            <ul
              class="usa-collection__meta display-flex"
              aria-label="More information"
            >
              <Tags tags={report.tags} />
            </ul>
          </>
        )
      }
    </div>
    <RichText content={report.content} />
    <RelatedItems items={relatedItems} />
    <Fragment slot="sidebar"></Fragment>
  </PagesSection>
</Layout>
