---
import { type CollectionEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { createGetStaticPath } from "@/utilities/staticPath";
import RichText from "@/components/RichText.astro";
import payloadFetch from "@/utilities/payload-fetch";
import PagesSection from "@/components/PagesSection.astro";
import Tags, { type Tag } from "@/components/Tags.astro";
import { reportMapper } from "@/utilities/collections";

const { slug } = Astro.params;
const collectionName = "reports";
let data: CollectionEntry<typeof collectionName>["data"];

if (!Astro.isPrerendered) {
  const response = await payloadFetch(
    `${collectionName}?where[slug][equals]=${slug}&draft=true`
  );
  const n = await response.json();
  if (n.docs.length === 0) return Astro.redirect("/404");
  data = n.docs[0];
} else {
  // @ts-expect-error
  ({ data } = Astro.props);
}

export const getStaticPaths = createGetStaticPath("reports");

const report = reportMapper(data);
---

<Layout title={report.title}>
  <PagesSection>
    <div class="flex-column padding-bottom-8">
      <h1 set:text={report.title} />
      <p class="font-sans-sm text-italic" set:text={report.date} />
      <Tags tags={report.tags} />
    </div>
    <RichText content={report.content} />
  </PagesSection>
</Layout>
