---
import { type CollectionEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import {
  createGetStaticPath,
  fetchSlug,
  resourceMapper,
  relatedItemsMapper,
} from "@/utilities/fetch";
import RichText from "@/components/RichText.astro";
import PagesSection from "@/components/PagesSection.astro";
import Tags, { type Tag } from "@/components/Tags.astro";
import InPageNavigation from "@/components/InPageNavigation.astro";
import Media from "@/components/Media.astro";
import ResourceFile from "@/components/ResourceFile.astro";
import RelatedItems from "@/components/RelatedItems.astro";
import type { FiltersSlugMetaData } from "@/env";
import { getFiltersSlugMetaData } from "@/utilities/filter";
import FiltersCollectionItemTemplate from "@/components/FiltersCollectionItemTemplate.astro";

const { slug } = Astro.params;
const collectionName = "resources";
let data: CollectionEntry<typeof collectionName>["data"];

if (!Astro.isPrerendered) {
  data = await fetchSlug(collectionName, slug);
  if (!data) return Astro.redirect("/404");
} else {
  // @ts-expect-error
  ({ data } = Astro.props);
}

export const getStaticPaths = createGetStaticPath("resources");

const resource = resourceMapper(data);

// Map related items if they exist
const relatedItems = data.relatedItems
  ? relatedItemsMapper(data.relatedItems, resourceMapper)
  : [];

export const prerender = true;

const filtersSlugMetaData: FiltersSlugMetaData = getFiltersSlugMetaData(
  collectionName,
  resource,
  slug,
);
---

<Layout
  title={resource.title}
  useInPageNav={resource.showInPageNav}
  filtersSlugMetaData={filtersSlugMetaData}
  useBreadcrumbTitle={true}
>
  {
    resource.showInPageNav && (
      <Fragment slot="in-page-nav">
        <InPageNavigation />
      </Fragment>
    )
  }
  <PagesSection>
    <div class="flex-column margin-bottom-5">
      <h1 set:text={resource.title} />
      {data.image && <Media media={data.image} />}
      <p class="font-sans-sm text-italic" set:text={resource.date} />
      {
        data.reportFiles.length > 0 && (
          <ResourceFile resourceFiles={data.reportFiles} />
        )
      }
      {
        resource.tags && (
          <>
            <h4 class="margin-bottom-2">Tags</h4>
            <ul
              class="usa-collection__meta display-flex"
              aria-label="More information"
            >
              <Tags tags={resource.tags} />
            </ul>
          </>
        )
      }
    </div>
    <RichText content={resource.content} />
    <RelatedItems items={relatedItems} />
  </PagesSection>
</Layout>

<FiltersCollectionItemTemplate
  item={resource}
  showEvent={false}
  filtersSlugMetaData={filtersSlugMetaData}
/>
