---
import Link from "@/components/Link.astro";
import Tags, { type Tag } from "@/components/Tags.astro";

export interface ContentItem {
  title: string;
  description?: string;
  date?: string;
  tags?: Tag[];
  image?: string;
  imageAlt?: string;

  link?: string;
  linkText?: string;
}

interface Props {
  items?: ContentItem[];
}

const { items = [] } = Astro.props;
---

<>
  {items.length === 0 && <p>No items found</p>}
  {
    items.length > 0 && (
      <ol class="usa-card-group measure-6">
        {items.map((n) => (
          <li class="usa-card usa-card--flag flex-1">
            <div class="usa-card__container">
              <div class="usa-card__header">
                <h2 class="usa-card__heading">
                  <Link href={n.link}>{n.title}</Link>
                </h2>
                {n.date && <p class="usa-card__meta">{n.date}</p>}
              </div>
              {n.image && (
                <div class="usa-card__media">
                  <div class="usa-card__img">
                    <img src={n.image} alt={n.imageAlt} />
                  </div>
                </div>
              )}
              <div class="usa-card__body">
                <p>{n.description}</p>
              </div>
              {n.tags && n.tags.length > 0 && (
                <div class="usa-card__footer">
                  <Tags tags={n.tags} />
                </div>
              )}
            </div>
          </li>
          // <li>
          //   <Link href={`/reports/${n.slug}`}>{n.title}</Link>
          // </li>
        ))}
      </ol>
    )
  }
</>

<style>
  .usa-card {
    flex-basis: max-content; /* otherwise cards will be 2 col */
  }
  .usa-card__footer {
    gap: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0.5rem;
  }
  .usa-card__meta {
    font-size: 0.9rem;
    margin-top: 0.4rem;
  }
</style>
