---
import { type FilterConfig } from "@/env.d";
import { getFilterNavId } from "@/utilities/filter";

interface Props {
  filter: FilterConfig;
}
const { filter } = Astro.props;
const { filterName, filterLabel } = filter;
const navId = getFilterNavId(filterName);
---

<h3 class="usa-accordion__heading" id={navId}>
  <button
    type="button"
    class="usa-accordion__button"
    aria-expanded="true"
    aria-controls={`filter-${filterName}`}
  >
    {filterLabel}
  </button>
</h3>

<div id={`filter-${filterName}`} class="usa-accordion__content usa-prose">
  <div class="filter-options" data-filter-name={filterName}>
    {
      /*
      Checkbox inputs will be injected here
      by renderFilter()
    */
    }
  </div>
</div>
