---
import {
  type FooterColors,
  type FooterModel,
  PRE_FOOTER_TYPE_BIG,
  PRE_FOOTER_TYPE_SLIM,
} from "@/env";
import { cleanPreFooter, getUsaFooterClass } from "@/utilities/preFooter.ts";
import PreFooterSlim from "@/components/PreFooterSlim.astro";
import PreFooterBig from "@/components/PreFooterBig.astro";
import Identifier from "@/components/Identifier.astro";
import { getFooterColors } from "@/utilities/identifier.ts";

interface Props {
  footer?: FooterModel;
}
const { footer } = Astro.props;

const { preFooterType, preFooterData } = cleanPreFooter(footer?.preFooter);
let usaFooterClass = await getUsaFooterClass(preFooterType);
const colors: FooterColors = getFooterColors(footer?.identifier?.colorFamilies);
---

<footer class={`usa-footer ${usaFooterClass}`}>
  <div class="grid-container usa-footer__return-to-top">
    <a href="#">Return to top</a>
  </div>

  {
    preFooterType === PRE_FOOTER_TYPE_BIG && (
      <PreFooterBig preFooter={preFooterData} colors={colors?.preFooter} />
    )
  }
  {
    preFooterType === PRE_FOOTER_TYPE_SLIM && (
      <PreFooterSlim preFooter={preFooterData} colors={colors?.preFooter} />
    )
  }

  <Identifier identifier={footer?.identifier} colors={colors?.identifier} />
</footer>
