---
import Filters from "./Filters.astro";
interface Button {
  label: string;
  url: string;
  variant?: string;
}
import type { FilteredPageConfig } from "@/env";

interface Props {
  heading?: string;
  classes?: string;
  id?: string;
  color?: string;
  align?: "center" | "left";
  filteredPageConfig?: FilteredPageConfig;
}

const {
  heading = false,
  color = "white",
  align = "left",
  classes = "",
  id = false,
  filteredPageConfig,
} = Astro.props;
---

<section
  {...id && { id }}
  class={`usa-section section section--${color} align-${align} ${classes}`}
>
  <div class="grid-container">
    <div class="grid-row">
      <div class="section__intro">
        {heading && <h1 class="margin-bottom-2">{heading}</h1>}
      </div>
    </div>
    <div class="grid-row">
      <div class="main-section grid-col-8">
        <div class="section__container">
          <div class="section__slot">
            <slot />
          </div>
        </div>
      </div>
      <div class="sidebar-section grid-col-4">
        {
          filteredPageConfig && (
            <div class="grid-row margin-left-1">
              <Filters filteredPageConfig={filteredPageConfig} />
            </div>
          )
        }
        <div class="grid-row margin-left-1">
          <slot name="sidebar" />
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  /* Remove top padding from usa-section */
  section {
    padding-top: 2rem;
  }

  &.align-left .section__container {
    text-align: left;
    justify-items: start;
  }

  &.align-center .section__container {
    .section__intro,
    .section__content,
    .section__slot,
    .section__outro {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      justify-items: center;
    }
  }
  .section__slot {
    padding: 1rem 0;
  }

  @media (max-width: 1023px) {
    .sidebar-section {
      order: -1;
    }
    .main-section,
    .sidebar-section {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
</style>
