---
import {
  getPageNavItems,
  getPaginationItemId,
} from "@/utilities/pagination.ts";
import PaginationNavItem from "@/components/PaginationNavItem.astro";
import type { PageNavItemModel } from "@/env";
import { PAGINATION_LIST_ID } from "@/utilities/filter";
const { currentPage, totalPages, basePath } = Astro.props;

let siteUrl = import.meta.env.BASEURL || "";

if (siteUrl === "/") {
  siteUrl = "";
}

const pageNavItems: PageNavItemModel[] = getPageNavItems(
  currentPage,
  totalPages,
);

const baseUrl = siteUrl + basePath;
---

<nav aria-label="Pagination" class="usa-pagination">
  <ul class="usa-pagination__list" id={PAGINATION_LIST_ID}>
    {
      pageNavItems.map((item) => (
        <>
          {(item.itemType === "prev" || item.itemType === "next") && (
            <PaginationNavItem
              url={`${baseUrl}/${item.pageNumber}`}
              itemType={item.itemType}
              linkId={getPaginationItemId({
                itemType: item.itemType,
                pageId: item.pageNumber,
                idType: "link",
              })}
            />
          )}
          {item.itemType === "overflow" && (
            <PaginationNavItem
              itemType="overflow"
              linkId={getPaginationItemId({
                itemType: item.itemType,
                pageId: item.pageNumber,
                idType: "link",
              })}
            />
          )}
          {item.itemType === "page" && (
            <PaginationNavItem
              url={`${baseUrl}/${item.pageNumber}`}
              isCurrentPage={item.isCurrentPage}
              pageNum={item.pageNumber}
              itemType={item.itemType}
              linkId={getPaginationItemId({
                itemType: item.itemType,
                pageId: item.pageNumber,
                idType: "link",
              })}
            />
          )}
        </>
      ))
    }
  </ul>
</nav>

<template id={getPaginationItemId({ itemType: "prev", idType: "template" })}>
  <ul>
    <PaginationNavItem url={`${baseUrl}/`} itemType="prev" />
  </ul>
</template>
<template id={getPaginationItemId({ itemType: "next", idType: "template" })}>
  <ul>
    <PaginationNavItem url={`${baseUrl}/`} itemType="next" />
  </ul>
</template>
<template
  id={getPaginationItemId({
    itemType: "overflow",
    pageId: "page",
    idType: "template",
  })}
>
  <ul>
    <PaginationNavItem url={`${baseUrl}/`} itemType="overflow" />
  </ul>
</template>
<template
  id={getPaginationItemId({
    itemType: "page",
    pageId: "page",
    idType: "template",
  })}
>
  <ul>
    <PaginationNavItem
      url={`${baseUrl}/`}
      isCurrentPage={false}
      itemType="page"
    />
  </ul>
</template>
<template
  id={getPaginationItemId({
    itemType: "page",
    idType: "template",
    isCurrentPage: true,
  })}
>
  <ul>
    <PaginationNavItem url=`${baseUrl}/` isCurrentPage={true} itemType="page" />
  </ul>
</template>
