---
import Link from "./Link.astro";
import { type LinkModel, type PreFooterSlimModel } from "@/env";
import { cleanPreFooterSlim } from "@/utilities/preFooterSlim";

let { preFooter } = Astro.props;
preFooter = cleanPreFooterSlim(preFooter);
---

{
  preFooter && (
    <>
      <div class="usa-footer__primary-section" id="pre-footer-slim">
        <div class="usa-footer__primary-container grid-row">
          <div class="mobile-lg:grid-col-8">
            <nav class="usa-footer__nav" aria-label="Footer navigation,">
              {preFooter.footerLinks && (
                <ul class="grid-row grid-gap">
                  {preFooter.footerLinks.map((l: LinkModel) => (
                    <li class="mobile-lg:grid-col-6 desktop:grid-col-auto usa-footer__primary-content">
                      {!l?.externalLink && (
                        <Link className="usa-footer__primary-link" href={l.url}>
                          {l.text}
                        </Link>
                      )}
                      {l?.externalLink && (
                        <a
                          href={l.url}
                          class="usa-footer__primary-link"
                          target="_blank"
                          rel="noopener noreferrer"
                          aria-label="{l.text} (opens in new tab)"
                        >
                          {l.text}
                        </a>
                      )}
                    </li>
                  ))}
                </ul>
              )}
            </nav>
          </div>
          <div class="mobile-lg:grid-col-4">
            {(preFooter.contactEmail || preFooter.contactTelephone) && (
              <address class="usa-footer__address">
                <div class="grid-row grid-gap flex-justify-end">
                  {preFooter.contactTelephone && (
                    <div class="grid-col-auto mobile-lg:grid-col-12 desktop:grid-col-auto">
                      <div class="usa-footer__contact-info">
                        <a href={`tel:${preFooter.contactTelephone}`}>
                          {preFooter.contactTelephone}
                        </a>
                      </div>
                    </div>
                  )}
                  {preFooter.contactEmail && (
                    <div class="grid-col-auto mobile-lg:grid-col-12 desktop:grid-col-auto">
                      <div class="usa-footer__contact-info">
                        <a href={`mailto:${preFooter.contactEmail}`}>
                          {preFooter.contactEmail}
                        </a>
                      </div>
                    </div>
                  )}
                </div>
              </address>
            )}
          </div>
        </div>
      </div>
    </>
  )
}
