---
import type { RelatedItem } from "@/utilities/fetch/contentMapper";
import Media from "@/components/Media.astro";

const { items = [] } = Astro.props;
const baseUrl = import.meta.env.LOCAL_DEV
  ? "/"
  : (import.meta.env.BASEURL || "") + "/";
---

{
  items.length > 0 && (
    <section class="related-links-sidebar">
      <h2 class="font-sans-lg font-heading-lg margin-bottom-3">
        Related Items
      </h2>
      <ul class="usa-collection measure-6">
        {items.map((item: RelatedItem) => (
          <li class="usa-collection__item maxw-tablet">
            {item.media?.thumbnailURL && (
              <Media className="usa-collection__img" media={item.media} />
            )}
            <div class="usa-collection__body">
              <h3 class="usa-collection__heading font-body-lg">
                {item.externalLink ? (
                  <a
                    href={item.link}
                    target="_blank"
                    rel="noopener noreferrer font-sans"
                    class="usa-link usa-link--external"
                  >
                    {item.label}
                    <span class="usa-sr-only"> (opens in new tab)</span>
                  </a>
                ) : (
                  <a
                    href={
                      baseUrl +
                      item.collectionEntry?.collectionSlug +
                      "/" +
                      item.collectionEntry?.slug
                    }
                    class="usa-link font-sans"
                  >
                    {item.label}
                  </a>
                )}
              </h3>
              {item.description && (
                <div class="usa-collection__description">
                  <p set:html={item.description.replace(/\n/g, "<br>")} />
                </div>
              )}
              {item.collectionEntry?.publishedAt && !item.externalLink && (
                <ul class="usa-collection__meta" aria-label="More information">
                  <li class="usa-collection__meta-item">
                    <time datetime={item.collectionEntry?.publishedAt}>
                      {item.collectionEntry?.publishedAt}
                    </time>
                  </li>
                </ul>
              )}
            </div>
          </li>
        ))}
      </ul>
    </section>
  )
}
