---
import {
  fetchCustomCollectionEntryBySlug,
  createCustomCollectionEntryMapper,
  fetchSlug,
  fetchCollectionEntry,
} from "@/utilities/fetch";
import { tryParseDateParts } from "@/utilities/dates";
import Layout from "@/layouts/Layout.astro";
import Tags from "@/components/Tags.astro";
import Media from "@/components/Media.astro";
import InPageNavigation from "@/components/InPageNavigation.astro";
import PreviewReload from "@/components/PreviewReload.astro";
import { fetchCollection } from "@/utilities/fetch";
import RelatedItems from "@/components/RelatedItems.astro";
import { buildRelatedItemsWithCollectionSlugs } from "@/utilities/fetch/buildRelatedItemsWithCollectionSlugs";
import { getFiltersSlugMetaData } from "@/utilities/filter";
import type { FiltersSlugMetaDataModel } from "@/env";
import FiltersCollectionItemTemplate from "@/components/FiltersCollectionItemTemplate.astro";
import ContentBlocks from "@/components/ContentBlocks.astro";
import PageWithSideNav from "@/components/PageWithSideNav.astro";

export interface TagProps {
  title: string;
  slug: string;
}
export interface DataFilesProps {
  file: {
    url: string | URL | null | undefined;
    filename: string;
  };
  label: string;
}

const { collectionSlug, slug: pageSlug } = Astro.params;

// Check if this slug matches a custom collection config
const collectionConfig = await fetchSlug(
  "collection-types",
  collectionSlug || "",
);

if (!collectionConfig) {
  return Astro.redirect("/404");
}

// Fetch the specific page
let data: any;

if (!Astro.isPrerendered) {
  data = await fetchCustomCollectionEntryBySlug(
    collectionConfig.id,
    pageSlug || "",
  );

  if (!data) return Astro.redirect("/404");
} else {
  ({ data } = Astro.props);
}

// Map the page
const mapper = createCustomCollectionEntryMapper(collectionSlug || "");
const item = mapper(data);
const contentDate = data.contentDate
  ? tryParseDateParts(data.contentDate)
  : null;

export async function getStaticPaths() {
  try {
    const configsData = await fetchCollection("collection-types");
    const configs = configsData?.docs ?? [];

    const paths = [];

    for (const config of configs) {
      // fetch entries ONLY for this config
      const pagesData = await fetchCollection(
        `collection-entries?where[collectionType.slug][equals]=${config.slug}&limit=0`,
      );

      const pages = pagesData?.docs ?? [];

      for (const page of pages) {
        paths.push({
          params: {
            collectionSlug: config.slug,
            slug: page.slug,
          },
          props: { data: page, collectionConfig: config },
        });
      }
    }

    return paths;
  } catch (error) {
    console.warn(
      "Could not generate static paths for custom collection pages:",
      error,
    );
    return [];
  }
}
const relatedItems = await buildRelatedItemsWithCollectionSlugs(
  data.relatedItems,
  fetchCollectionEntry,
);
export const prerender = import.meta.env.PREVIEW_MODE || false;

const filtersSlugMetaData: FiltersSlugMetaDataModel = getFiltersSlugMetaData(
  collectionSlug,
  item,
  pageSlug,
);
---

<Layout
  title={item.title}
  useInPageNav={item.showInPageNav}
  useBreadcrumbTitle={true}
  filtersSlugMetaData={filtersSlugMetaData}
>
  <PageWithSideNav
    heading={data.title}
    showSideNav={true}
    currentPath={`/${collectionSlug}/${pageSlug}`}
    sideNavId={data.sideNavigation?.id}
    description={data.description}
  >
    <article class="grid-container padding-top-0 usa-section">
      <div class="grid-row grid-gap grid-gap-6">
        {/* set colum width if related items are present */}
        <div
          class={data.relatedItems?.length > 0 || item.showInPageNav
            ? "tablet:grid-col-9"
            : "tablet:grid-col-12"}
        >
          {
            data.image && (
              <div class="entry-thumbnail margin-y-2">
                <Media media={data.image} />
              </div>
            )
          }
          <div class="maxw-72 margin-bottom-4">
            <p class="text-gray-50">
              {
                contentDate && (
                  <p
                    class="font-sans-sm text-italic"
                    set:text={contentDate.full}
                  />
                )
              }
            </p>
            {
              /* main content entry body */
              data.content && (
                <section>
                  <ContentBlocks contentBlocks={data?.content} />
                </section>
              )
            }
          </div>
          <>
            {
              data.tags && data.tags.length > 0 && (
                <ul
                  class="usa-list usa-list--unstyled margin-top-4 content-tags"
                  aria-label="More information"
                >
                  <Tags
                    tags={data.tags.map((tag: TagProps) => ({
                      title: tag.title,
                      url: `/${collectionSlug}?tag=${tag.slug}`,
                    }))}
                  />
                </ul>
              )
            }
          </>
          <>
            {
              data.files && data.files.length > 0 && (
                <section class="margin-top-4">
                  <h3>Files</h3>
                  <ul class="usa-list">
                    {data.files.map((fileItem: DataFilesProps) => (
                      <li>
                        <a
                          href={fileItem.file?.url}
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          {fileItem.label ||
                            fileItem.file?.filename ||
                            "Download"}
                        </a>
                      </li>
                    ))}
                  </ul>
                </section>
              )
            }
          </>
        </div>
        {
          (data.relatedItems.length > 0 || item.showInPageNav) && (
            <aside
              class="tablet:grid-col-3 related-links-sidebar"
              aria-label="Related Items"
            >
              {item.showInPageNav && (
                <Fragment slot="in-page-nav">
                  <InPageNavigation />
                </Fragment>
              )}
              {data.relatedItems.length > 0 && (
                <RelatedItems items={relatedItems} />
              )}
            </aside>
          )
        }
      </div>
      <div class="flex-column margin-bottom-5"></div>
    </article>
  </PageWithSideNav>
</Layout>
<FiltersCollectionItemTemplate
  item={item}
  showEvent={false}
  filtersSlugMetaData={filtersSlugMetaData}
  layoutType={collectionConfig?.layoutType}
/>
<PreviewReload />
