---
import CollectionItemList from "@/components/CollectionItemList.astro";
import PagesSection from "@/components/PagesSection.astro";
import Layout from "@/layouts/Layout.astro";
import PaginationNav from "@/components/PaginationNav.astro";
import PageWithSideNav from "@/components/PageWithSideNav.astro";
import {
  fetchCollectionEntries,
  createCustomCollectionEntryMapper,
  fetchCollection,
  fetchSlug,
  buildRelatedItemsWithCollectionSlugs,
  fetchCollectionEntry,
} from "@/utilities/fetch";
import { paginate } from "@/utilities/pagination";
import ContentBlocks from "@/components/ContentBlocks.astro";
import RelatedItems from "@/components/RelatedItems.astro";

export const PAGE_SIZE = import.meta.env.PAGE_SIZE || 10;

const { collectionSlug } = Astro.params;

// Check if this slug matches a custom collection config
const collectionConfig = await fetchSlug(
  "collection-types",
  collectionSlug || "",
);

let page = null;
let collectionPages: any[] = [];
let items: any[] = [];
let currentPage = 1;
let totalPages = 1;
let hasPaginationNav = false;
let sorted = null;
let relatedItems = null;
let layoutType = null;

if (!collectionConfig) {
  // Check if this is a regular page - if so, render it here since this route matched first
  page = await fetchSlug("pages", collectionSlug || "");

  if (!page) {
    return Astro.redirect("/404");
  }
  relatedItems = await buildRelatedItemsWithCollectionSlugs(
    page.relatedItems,
    fetchCollectionEntry,
  );
} else {
  layoutType = collectionConfig?.layoutType;
  // Fetch pages for this custom collection
  const collectionPagesData = await fetchCollectionEntries(collectionConfig.id);

  collectionPages = collectionPagesData?.docs || [];
  // Sort by publishedAt
  sorted = collectionPages.sort((a: any, b: any) => {
    return (
      new Date(b.publishedAt || 0).getTime() -
      new Date(a.publishedAt || 0).getTime()
    );
  });

  // Paginate
  currentPage = 1;
  hasPaginationNav = sorted.length >= PAGE_SIZE;
  const paginationResult = paginate(sorted, currentPage, PAGE_SIZE);
  totalPages = paginationResult.totalPages;
  const paginatedItems = paginationResult.paginatedItems;
  // Map items
  const mapper = createCustomCollectionEntryMapper(collectionSlug || "");
  items = paginatedItems.map(mapper);
}
export async function getStaticPaths() {
  const data = await fetchCollection("collection-types");
  const configs = data?.docs ?? [];
  return configs.map((config: { slug: any }) => ({
    params: { collectionSlug: config.slug },
  }));
}

const filteredPageConfig = {
  totalItems: collectionPages.length,
  collectionName: collectionSlug,
  pageSize: PAGE_SIZE,
  currentPage: 1,
};

export const prerender = import.meta.env.PREVIEW_MODE ?? false;
---

{
  page ? (
    <Layout title={page.title} useBreadcrumbTitle={true}>
      <PageWithSideNav
        heading={page.title}
        showSideNav={true}
        currentPath={`/${collectionSlug}`}
        sideNavId={page.sideNavigation?.id}
      >
        <div class="grid-row grid-gap grid-gap-6">
          <div
            class={
              page.relatedItems?.length > 0
                ? "tablet:grid-col-9"
                : "tablet:grid-col-12"
            }
          >
            <ContentBlocks contentBlocks={page?.content} />
          </div>
          {page.relatedItems.length > 0 && (
            <aside
              class="tablet:grid-col-3 related-links-sidebar"
              aria-label="Related Items"
            >
              {page.relatedItems.length > 0 && (
                <RelatedItems items={relatedItems} />
              )}
            </aside>
          )}
        </div>
      </PageWithSideNav>
    </Layout>
  ) : (
    <Layout
      title={collectionConfig.title}
      currentPage={currentPage}
      totalPages={totalPages}
    >
      <PagesSection
        heading={collectionConfig.title}
        subheading={collectionConfig.description}
        filteredPageConfig={filteredPageConfig}
      >
        <CollectionItemList
          items={items}
          currentPage="1"
          filteredLength={sorted?.length}
          layoutType={layoutType}
          collectionSlug={collectionSlug}
        />
        {hasPaginationNav && (
          <PaginationNav
            currentPage={currentPage}
            totalPages={totalPages}
            basePath={`/${collectionSlug}/page`}
          />
        )}
      </PagesSection>
    </Layout>
  )
}
