---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import GovIdentifier from "@/components/GovIdentifier.astro";
import Menu from "@/components/Menu.astro";
import Breadcrumb from "@/components/Breadcrumb.astro";
import Footer from "@/components/Footer.astro";
import Config from "@/config.astro";
import payloadFetch from "@/utilities/payload-fetch";
import "../styles/index.scss";

const siteConfigCollectionName = "siteConfig";
const siteConfigEndpoint = "globals/site-config";
const menuCollectionName = "menu";
const menuEndpoint = "globals/menu";

let siteConfig: CollectionEntry<typeof siteConfigCollectionName>["data"];
let menu: CollectionEntry<typeof menuCollectionName>["data"];

if (!Astro.isPrerendered) {
  const siteConfigResponse = await payloadFetch(
    `${siteConfigEndpoint}?draft=true`
  );
  const siteConfigResponseData = await siteConfigResponse.json();
  siteConfig = siteConfigResponseData;

  const menuResponse = await payloadFetch(`${menuEndpoint}?draft=true`);
  const menuResponseData = await menuResponse.json();
  menu = menuResponseData;
} else {
  const siteConfigResponseData = await getCollection(siteConfigCollectionName);
  const menuResponseData = await getCollection(menuCollectionName);

  siteConfig = {
    agencyName: siteConfigResponseData[0].data.agencyName,
    font: siteConfigResponseData[0].data.font,
  };

  menu = {
    items: menuResponseData[0].data.items,
  };
}

const { title } = Astro.props;
const metaTitle = title
  ? `${title} | ${siteConfig.agencyName || "Agency Homepage"}`
  : siteConfig.agencyName || "Agency Homepage";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{metaTitle}</title>
  </head>
  <body>
    <Config />
    <GovIdentifier />
    <Menu title={siteConfig.agencyName} items={menu.items} />
    <Breadcrumb />
    <slot />
    <Footer />
  </body>

  <style>
    html,
    body {
      margin: 0;
      width: 100%;
      height: 100%;
    }
  </style>
  <script>
    import "@uswds/uswds";
  </script>
</html>
