---
import { type CollectionEntry } from "astro:content";
import { createGetStaticPath } from "@/utilities/staticPath";
import payloadFetch from "@/utilities/payload-fetch";
import { tryParseDateParts } from "@/utilities/dates";
import PagesSection from "@/components/PagesSection.astro";
import Layout from "@/layouts/Layout.astro";
import PreviewReload from "@/components/PreviewReload.astro";

const { slug } = Astro.params;

// TODO: this section is going to be largely copy/paste for each
// individual page but it's unclear how to generalize it further:
// 1. the getStaticPaths must be exported from this file
// 2. the Astro.props/Astro.prerendered properties are specific
// to this file
// 3. data needs to be a top-level variable here
const collectionName = "events";
let data: CollectionEntry<typeof collectionName>["data"];

if (!Astro.isPrerendered) {
  const preview = import.meta.env.PREVIEW_MODE;
  const response = await payloadFetch(
    `${collectionName}?where[slug][equals]=${slug}&draft=${preview}`
  );
  const events = await response.json();
  if (events.docs.length === 0) return Astro.redirect("/404");
  data = events.docs[0];
} else {
  // @ts-expect-error
  ({ data } = Astro.props);
}

const start = tryParseDateParts(data.startDate);
const end = tryParseDateParts(data.endDate);

export const getStaticPaths = createGetStaticPath("events");

export const prerender = import.meta.env.PREVIEW_MODE || false;
---

<Layout title="events">
  <PagesSection heading={data.title}>
    <div
      class="usa-summary-box maxw-tablet margin-bottom-2"
      role="region"
      aria-labelledby={`event-details-${slug}`}
    >
    <div class="usa-summary-box__body">
      <h2 class="usa-summary-box__heading" id={`event-details-${slug}`}>
        Event details
      </h2>
      <div class="usa-summary-box__text">
        <ul class="usa-list">
          <li><b>Format:</b> {data.format}</li>
          <li><b>Location:</b> {data.location}</li>
          <li>
            <b>Date and time:</b> {start.full}
            {end && (
              <span>until {end!.full}</span>
            )}
          </li>
        </ul>
      </div>
    </div>
    </div>
    <section>
      {data.description && 
        <p class="margin-bottom-2">{data.description}</p>
      }
      <a class="usa-button" href={data.registrationUrl}>Register</a>
    </section>
  </PagesSection>
</Layout>

<PreviewReload />
