---
import { type CollectionEntry } from "astro:content";
import { createGetStaticPath } from "@/utilities/staticPath";
import payloadFetch from "@/utilities/payload-fetch";
import Layout from "../../layouts/Layout.astro";

const { slug } = Astro.params;

// TODO: this section is going to be largely copy/paste for each
// individual page but it's unclear how to generalize it further:
// 1. the getStaticPaths must be exported from this file
// 2. the Astro.props/Astro.prerendered properties are specific
// to this file
// 3. data needs to be a top-level variable here
const collectionName = "events";
let data: CollectionEntry<typeof collectionName>["data"];

if (!Astro.isPrerendered) {
  const response = await payloadFetch(
    `${collectionName}?where[slug][equals]=${slug}&draft=true`
  );
  const events = await response.json();
  if (events.docs.length === 0) return Astro.redirect("/404");
  data = events.docs[0];
} else {
  // @ts-expect-error
  ({ data } = Astro.props);
}

export const getStaticPaths = createGetStaticPath("events");
---

<Layout title={data.title}>
  <article class="grid-container">
    <h1 set:text={data.title} />
    <p set:text={data.format} />
    <p set:text={data.location} />
    <a class="usa-button" href={data.registrationUrl}> Register </a>
    <p set:text={data.startDate} />
    <p set:text={data.endDate} />
    <section class="usa-prose" set:text={data.description} />
  </article>
</Layout>
